#### Fernando Amaral
#### systematic sampling

In [3]:
import numpy as np
import pandas as pd
from math import ceil

In [4]:
# Creating the variables to represent the population, sample, and k value
populacao = 150
amostra = 15
k = ceil(populacao / amostra)
print(k)

10

In [5]:
# Setting the random value to initialize the sample, starting from 1 to k + 1
r = np.random.randint(low = 1, high = k + 1, size = 1)
print(r)

[1]

In [6]:
# We create a loop to sum the next values, based on the first value of r defined before.
acumulador = r[0]
sorteados = []
for i in range(amostra):
    #print(acumulador)
    sorteados.append(acumulador)
    acumulador += k
print(sorteados)

[1, 11, 21, 31, 41, 51, 61, 71, 81, 91, 101, 111, 121, 131, 141]

In [7]:
len(sorteados)

15

In [8]:
# We load the data and create the base_final only with the values selected
base = pd.read_csv('iris.csv')
base_final = base.loc[sorteados]
base_final

     sepal length  sepal width  petal length  petal width            class
1             4.9          3.0           1.4          0.2      Iris-setosa
11            4.8          3.4           1.6          0.2      Iris-setosa
21            5.1          3.7           1.5          0.4      Iris-setosa
31            5.4          3.4           1.5          0.4      Iris-setosa
41            4.5          2.3           1.3          0.3      Iris-setosa
51            6.4          3.2           4.5          1.5  Iris-versicolor
61            5.9          3.0           4.2          1.5  Iris-versicolor
71            6.1          2.8           4.0          1.3  Iris-versicolor
81            5.5          2.4           3.7          1.0  Iris-versicolor
91            6.1          3.0           4.6          1.4  Iris-versicolor
101           5.8          2.7           5.1          1.9   Iris-virginica
111           6.4          2.7           5.3          1.9   Iris-virginica
121           5.6          2.8           4.9          2.0   Iris-virginica
131           7.9          3.8           6.4          2.0   Iris-virginica
141           6.9          3.1           5.1          2.3   Iris-virginica